{% extends "base.html" %}

{% block title %}Página Não Encontrada{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="header mt-5">
        <img src="{% static 'images/logoPD.png' %}" alt="Logo">
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h1 class="display-4">404</h1>
            <p class="lead">Ops! A página que você está procurando não foi encontrada.</p>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Voltar à Página Inicial</a>
        </div>
    </div>
</div>
{% endblock %}
