{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %} <!-- Gera o token CSRF para proteção -->
                {{ form.as_p }}  <!-- Renderiza o formulário de maneira automática -->
                {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div> <!-- Exibe a mensagem de erro -->
                {% endif %}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const footer = document.querySelector('.footer');
        const footerHeight = footer.offsetHeight;
        const documentHeight = document.documentElement.scrollHeight;
        const windowHeight = window.innerHeight;

        if (documentHeight > windowHeight) {
            document.addEventListener('scroll', function() {
                const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                if (documentHeight - windowHeight - scrollTop <= footerHeight) {
                    footer.classList.add('visible');
                } else {
                    footer.classList.remove('visible');
                }
            });
        } else {
            footer.classList.add('visible');
        }
    });
</script>
{% endblock %}
